.secondCard {
  height: 30.1px;
  width: 30.6px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-gray);
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
}
.weather1 {
  width: 100px;
  position: absolute;
  margin: 0 !important;
  right: -45.6px;
  bottom: 8.1px;
  line-height: 100%;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.ioniconccarddefault {
  height: 15px;
  width: 15.3px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
  margin-left: -24px;
}
.weather {
  width: 101px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--secondary-primary-white);
  font-family: var(--font-roboto-flex);
}
