.DashboardThirdFrame,
.NotificationBox {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    min-width: 19vw;
}

.NotificationBox {
    background: linear-gradient(126.97deg, rgba(12, 47, 0, 0.74) 33.32%, rgba(0, 65, 57, 0.71) 96.26%);
    backdrop-filter: blur(60px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
}

.NotificationBox {
    /* width: 401px; */
    min-width: 100%;
    min-height: 100%;
    filter: drop-shadow(0 3.5px 5.5px rgba(0, 0, 0, 0.02));
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
    gap: var(--gap-12xl);
    z-index: 3;
    color: var(--color-silver);
    font-family: var(--font-roboto-flex);
}

.listIcon {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: -0.1px;
    bottom: 0;
    left: 0.1px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.monthlyNotif,
.notifsList {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.monthlyNotif,
.notifsList {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.monthlyNotif {
    flex: 1;
    align-items: flex-end;
    justify-content: space-between;
    min-height: 18px;
    gap: var(--gap-xl);
}

.notifsList {
    align-self: stretch;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-9xs);
    box-sizing: border-box;
    flex-shrink: 0;
}

.notifications1 {
    margin: 0;
    font-size: 1.8rem;
    line-height: 18px;
    font-weight: 400;
    font-family: var(--font-abhaya-libre);
    color: aliceblue;
}

.checkmarkIcon {
    height: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-11xs);
    font-size: var(--font-size-sm);
}


.thisMonth {
    position: relative;
    line-height: 13.5px;
    z-index: 1;
}

.span {
    font-weight: 600;
}

.notificationListItems {
    display: flex;
    flex-direction: column-reverse;
    /* Reverse the flex direction */
    overflow-y: auto;
    /* Add vertical scroll */
    min-width: -webkit-fill-available;
    /* Set a max height for the scrollable area */
    color: aliceblue;
}

.notificationListItems {
    max-height: 21rem;
    overflow-y: auto;
}

/* Hide scrollbar for WebKit (Chrome, Safari, etc.) */
.notificationListItems::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.notificationListItems {
    scrollbar-width: none;
}

.group {
    height: 3rem;
    display: flex;
    position: relative;
    align-self: center;
    margin-block: 0.5rem;
    border-radius: 1rem;
    padding-block: 2rem;
    min-width: 100%;
    align-items: center;
    background: linear-gradient(95.68deg, rgba(9, 28, 20, 0.74) 0.09%, rgba(14, 34, 7, 0.5) 71.46%);
    backdrop-filter: blur(60px);
}

.text {
    color: rgb(222, 224, 226);
    font: 600 1.3rem / 1 "Roboto Flex", Helvetica, Arial, serif;
    position: relative;
    padding-inline: 1rem;
}

@media screen and (max-width: 450px) {

    .monthlyNotif,
    .notifications {
        flex-wrap: wrap;
    }

    .NotificationBox {
        gap: var(--gap-12xl);
    }
}