.backgroundParent,
.frameWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: var(--gap-174xl);
    min-height: 5rem;
    color: aliceblue;
    min-width: 100%;
}

.background {
    flex: 1 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
    gap: var(--gap-xl);
    position: relative;
    min-height: inherit;
    background-size: cover;
    min-width: 70%;
    padding-inline: 3rem;
    background-image: url('../../../public/rectangle-596@2x.png');
}

.frameWrapper {
    width: 525px;
    flex-direction: column;
    padding: var(--padding-10xs) 0 0;
    box-sizing: border-box;
}

.aarasFarm,
.datetime {
    line-height: 100%;
    font-weight: 600;
    display: inline-block;
    font-size: 1.3rem;
}

.icon,
.inputwithaddonsParent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-7xl);
}

.inputwithaddons {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    color: aliceblue;
    box-sizing: border-box;
    position: relative;
    cursor: text;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    border-radius: 2rem;
}

.searchIcon {
    width: 2rem;
    height: 2rem;
}

.frameFrame,
.listitemdefault {
    flex: 1;
    display: flex;
    align-items: center;
    gap: var(--gap-9xs);
}

.SigninIcon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.signIntext {
    font-weight: 600;
}

.settingIcon {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    align-items: center;
}

.ioniconppersondefault,
.ioniconssettingssharp,
.ioniconnnotificationsdefaul {
    height: 2rem;
    width: 2rem;
}

@media screen and (max-width: 1325px) {
    .backgroundParent {
        gap: var(--gap-174xl);
    }
}

@media screen and (max-width: 800px) {
    .background {
        flex-wrap: wrap;
        padding-right: var(--padding-xl);
        box-sizing: border-box;
        min-width: 100%;
    }

    .backgroundParent {
        gap: var(--gap-174xl);
    }
}

@media screen and (max-width: 450px) {
    .inputwithaddonsParent {
        flex-wrap: wrap;
    }

    .backgroundParent {
        gap: var(--gap-174xl);
    }
}