.background {
    background-color: rgba(238, 0, 255, 0.481);
    width: max-content;
}

.background3 {
    border: 0;
    background-color: transparent;
    height: 50%;
    width: auto;
    outline: 0;
    align-self: stretch;
    /* background: linear-gradient(126.97deg,
            rgba(187, 215, 177, 0.74),
            rgba(8, 109, 97, 0.71)); */
    z-index: 4;
}

.container {
    /* display: flex;
    flex: 1; */
    height: 100%;
    width: 100%;
    justify-content: space-between;
    /* background-color: black; */
    border-radius: 2rem;
    /* padding: 1rem; */
    border: 0.5rem;
    border-color: aqua;
}

.map_container {
    position: relative;
    height: 100%;
    width: 100%;
    outline-style: none;
    border-radius: 2rem;
}