.dashboard {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: var(--secondary-primary-white);
  align-items: center;
  justify-content: center;
  letter-spacing: normal;
}

.background {
  flex: 1 1;
  background: linear-gradient(159.02deg, rgba(25, 169, 134, 0.85), #194911 52.6%, #177e06 52.61%, #112f16 91.15%, #126415);
  align-items: flex-start;
  justify-content: flex-start;
  /* padding: var(--padding-mid) var(--padding-mini) var(--padding-mid) var(--padding-2xl); */
  padding: 1em;
  box-sizing: border-box;
  gap: 10px;
  max-width: 100%;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.backgroundChild {
  height: 1080px;
  width: 1920px;
  position: relative;
  background: linear-gradient(159.02deg,
      rgba(25, 169, 134, 0.85),
      #194911 52.6%,
      #177e06 52.61%,
      #112f16 91.15%,
      #126415);
  display: none;
  max-width: 100%;
}

.frameParent,
.iconFrame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.iconFrame {
  width: 23rem;
  position: relative;
  display: flex;
  min-height: 100%;
  align-items: flex-start;
  gap: var(--gap-base);
  justify-content: space-between;
}

.frameParent {
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-xs);
  max-width: calc(100% - 279px);
}

.background,
.dashboard {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.AGVHomeContent {
  display: flex;
  flex-direction: row;
  width: -webkit-fill-available;
  justify-content: space-between;
}

.leftSection {
  display: flex;
  flex-direction: column;
  max-width: 68%;
  min-width: 60%;
}

.rightSection {
  display: flex;
  flex-direction: column;
  width: 60%;
  /* background-color: #f0f8ff80; */
  min-height: 100vh;
  justify-content: flex-start;
}

.livestockFrameParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-xs);
  max-width: calc(100% - 279px);
}

.livestockBody {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  gap: var(--gap-xs);
}

.livestockLeftSection {
  height: 94vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.livestockmap {
  height: 70%;
}

.livestockRightSection {
  height: 94vh;
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.notificationbox {
  align-self: center;
}


@media screen and (max-width: 1125px) {
  .iconFrame {
    display: none;
  }

  .frameParent {
    max-width: 100%;
  }
}

.WeatherHome {
  display: flex;
  flex-direction: row;
}

.wgraphArea {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-4xs);
}

.tempgraph {
  height: 30%;
  width: 100%;
}

.Weatherrighsection {
  height: 100%;
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.otherparameterscard {
  position: relative;
  height: 50%;
  width: 100%;
  /* background-color: #194911; */
}

.OtherParameters {
  width: 100%;
  height: 100%;
}