.dashboard {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: var(--secondary-primary-white);
  align-items: center;
  justify-content: center;
  letter-spacing: normal;
}

.background {
  flex: 1 1;
  background: linear-gradient(159.02deg, rgba(25, 169, 134, 0.85), #194911 52.6%, #177e06 52.61%, #112f16 91.15%, #126415);
  align-items: flex-start;
  justify-content: flex-start;
  /* padding: var(--padding-mid) var(--padding-mini) var(--padding-mid) var(--padding-2xl); */
  padding: 1em;
  box-sizing: border-box;
  gap: 10px;
  max-width: 100%;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.backgroundChild {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: linear-gradient(159.02deg, rgba(25, 169, 134, 0.85), #194911 52.6%, #177e06 52.61%, #112f16 91.15%, #126415);
  display: none;
  max-width: 100%;
}

.frameParent,
.iconFrame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.iconFrame {
  width: 23rem;
  position: relative;
  display: flex;
  min-height: 100%;
  align-items: flex-start;
  gap: var(--gap-base);
  justify-content: space-between;
}

.frameParent {
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-xs);
  max-width: calc(100% - 279px);
  min-height: 98vh;
}

.background,
.dashboard {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.AGVHomeContent {
  display: flex;
  flex-direction: row;
  width: -webkit-fill-available;
  justify-content: space-between;
  gap: 1rem;
}

.leftSection {
  display: flex;
  flex-direction: column;
  max-width: 68%;
  min-width: 60%;
  gap: 1rem;
}

.rightSection {
  display: flex;
  flex-direction: column;
  width: 60%;
  /* background-color: #f0f8ff80; */
  min-height: 100vh;
  justify-content: flex-start;
}

.AGVrightSection {
  display: flex;
  flex-direction: column;
  /* background-color: #f0f8ff80; */
  min-height: 100vh;
  justify-content: flex-start;
  min-width: 40%;
  gap: 1rem;
}


/* ----  Livestock Page ----------- */

.livestockFrameParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-xs);
  max-width: calc(100% - 279px);
}

.livestockBody {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  gap: var(--gap-xs);
}

.livestockLeftSection {
  height: 94vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.livestockmap {
  height: 70%;
}

.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
  touch-action: none;
  filter: brightness(0.8);
}

.livestockRightSection {
  height: 94vh;
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.livestockDetailsCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.livestockDetailscardImage {
  height: 100%;
  width: 90%;
}

.notificationboxInLivestock {
  align-self: center;
  min-width: 90%;
  padding-block-start: 2rem;
  min-height: 38%;
}

.livestockgraph {
  height: 27%;
  padding-block-start: 1rem;
}

.IndividualAnimalActivityGraph {
  width: 100%;
  height: 100%;
}


@media screen and (max-width: 1125px) {
  .iconFrame {
    display: none;
  }

  .frameParent {
    max-width: 100%;
  }
}


/* ------------- Weather Page ---------------- */

.WeatherHome {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.wgraphArea {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-4xs);
}

.tempgraph {
  height: 30%;
  width: 100%;
}

.Weatherrighsection {
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  justify-content: flex-start;
}

.otherparameterscard {
  position: relative;
  height: 50%;
  padding-inline-start: 1rem;
  width: 100%;
}

.OtherParameters {
  width: 100%;
  height: 100%;
}

.NotificationBoxInWeather {
  width: 100%;
  min-height: 45%;
  max-height: 50%;
  ;
}


/* ------------  CCTV Page ----------------- */

.cctvBody {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.cctvAreacomp {
  height: 92vh;
  width: 75%;
  display: flex;
  flex-direction: column;
}


.cctvrightSection {
  display: flex;
  flex-direction: column;
  width: 25%;
  min-height: 92vh;
  justify-content: flex-start;
}

.cctvInfoBox {
  position: relative;
  width: 100%;
  height: 95%;
  border-radius: 2rem;
}


.cctvInfoBoxImg {
  height: 100%;
  width: 100%;
  padding-block: 2rem;
}

.NotificationBoxInCCTV {
  height: 50%;
  width: 100%;
}