.nd-main {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 1));
  color: white;
  height: -moz-fit-content;
  height: fit-content;
  /* width: 100vw; */
  padding: 1vw;
  /* padding-bottom: 8vh; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-block: 1em;
  border-radius: 2em;
}

.nd-title {
  text-transform: uppercase;
  font-size: 1vmax;
  font-weight: 9;
  letter-spacing: 0.2rem;
  width: fit-content;
  padding: 0rem 1rem;
}

.nd-description {
  text-transform: uppercase;
  font-size: 1vmax;
  font-weight: 9;
  letter-spacing: 0.2rem;
  width: fit-content;
  padding: 0rem 1rem;
}