.background {
    border-radius: var(--br-xl);
    -webkit-backdrop-filter: blur(120px);
    backdrop-filter: blur(120px);
    max-width: 100%;
    max-height: 100%;
    z-index: 3;
    min-height: 21%;
}

.background {
    background: linear-gradient(126.97deg, rgba(12, 47, 0, 0.74), rgba(0, 65, 57, 0.71));
}

.title {
    text-align: center;
    font-size: 24px;
    color: var(--secondary-primary-white);
    font-family: var(--font-aldrich);
    border-radius: var(--br-xl);
    background: linear-gradient(126.97deg,
            rgba(0, 65, 57, 0.74),
            rgba(12, 47, 0, 0.5));
    backdrop-filter: blur(120px);
}